#!/usr/bin/env bash
set -eufo pipefail

{{ range .cargo_plugins }}
cargo binstall --locked --no-confirm --disable-strategies compile cargo-{{ . }}
{{ end }}

{{ range .cargo_binaries }}
cargo binstall --locked --no-confirm --disable-strategies compile {{ . }}
{{ end }}
