#!/bin/bash
set -ufo pipefail

{{- $brew_bin := "/usr/local/bin/brew" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $brew_bin = "/opt/homebrew/bin/brew" -}}
{{-   end -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $brew_bin = (joinPath .chezmoi.homeDir ".homebrew/bin/brew") -}}
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ else if eq .chezmoi.os "linux" }}
mkdir -p {{ .chezmoi.homeDir }}/.homebrew
curl -L https://github.com/Homebrew/brew/tarball/master \
  | tar xz --strip-components 1 -C {{ .chezmoi.homeDir }}/.homebrew
{{ end }}

{{ $packages := list
  "xclip"
  "pcre2"
  "jj"
  "fish"
  "slides"
  "bat"
  "bat-extras-batman"
  "btop"
  "hurl" -}}

{{ range $packages }}
  {{ $brew_bin }} install {{ . }}
{{ end }}
