{{ if eq .chezmoi.os "linux" -}}

{{ $packages := list
  "bat"
  "ripgrep"
  "fd-find"
  "fzf"
  "git"
  "helix"
  "trash-cli"
  "pipx"
  "tree" -}}
{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
{{   $packages = mustAppend $packages "btop" -}}
{{ end -}}

{{ if not .headless -}}
{{   $packages = mustAppend $packages "xclip" -}}
{{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/dash

set -eufo pipefail

{{ $sudo }}add-apt-repository "ppa:maveonair/helix-editor"
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}
